/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none !important;
}

* {
  box-sizing: border-box;
}

.code-11 .code-12 .tag-31, .code-11 .code-12 .tag-30, .code-9 .code-10 .tag-27, .code-9 .code-10 .tag-26, .tag-13 {
  color: black;
  font-family: "Kanit", sans-serif;
}

.code-15, .code-14, .tag-4, .tag-3, .tag-1 a {
  color: grey;
  font-family: "Whisper", cursive;
}

body {
  padding: 30px;
}

.must:hover {
  transform: translateY(3px);
}

#image11 {
  display: none;
}

.tag-1 {
  width: 1000px;
  display: flex;
  justify-content: space-around;
}
.tag-1 a {
  font-size: 30px;
  color: black;
  cursor: pointer;
  text-decoration: none;
}

#product {
  background: rgb(228, 220, 220);
  border-radius: 6px;
}

#product:hover {
  background-color: rgb(196, 182, 182);
}

#product {
  width: 300px;
  height: 40px;
  border: none;
  color: black;
}

.tag {
  display: flex;
  margin-top: 40px;
  justify-content: space-evenly;
}

.tag-2 {
  width: 850px;
  height: 450px;
  margin-top: 15px;
}

img {
  width: 850px;
  height: 450px;
}

.tag-3 {
  font-size: 50px;
  position: absolute;
  top: 120px;
  left: 980px;
}

.tag-4 {
  font-size: 35px;
  position: absolute;
  top: 240px;
  left: 950px;
  width: 500px;
}

.tag-5 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.tag-6 {
  position: relative;
  width: 400px;
  height: 380px;
  margin-top: 15px;
}

.picture {
  width: 397px;
  height: 265px;
  border-radius: 10px;
}

.text-1 {
  font-size: 22px;
}

.text-2 {
  position: absolute;
  bottom: -5px;
  left: 170px;
  font-size: 19px;
}

.text-3 {
  position: absolute;
  bottom: -5px;
  right: 120px;
  font-size: 19px;
  color: red;
}

#clothe {
  width: 100px;
  height: 30px;
  border-radius: 20px;
  cursor: pointer;
  position: absolute;
  left: 290px;
  bottom: 10px;
  background: linear-gradient(90deg, rgb(38, 222, 41) 18%, rgb(31, 211, 41) 45%, rgb(33, 255, 0) 100%);
}

footer {
  width: 100%;
  height: 200px;
  background-color: black;
  margin-top: 20px;
  position: relative;
}

li {
  color: white;
  font-size: 16px;
}

.tag-8 {
  position: absolute;
  top: 30px;
  left: 150px;
}

li {
  cursor: pointer;
  margin-bottom: 10px;
}

.tag-9 {
  position: absolute;
  top: 30px;
  left: 350px;
}

.tag-10 {
  position: absolute;
  right: 150px;
  top: 30px;
}

.photo-1 {
  width: 20px;
  height: 20px;
}

.photo-2 {
  width: 20px;
  height: 20px;
}

.photo-3 {
  width: 20px;
  height: 20px;
}

#carouselExampleIndicators {
  width: 800px;
  margin-left: 400px;
  margin-top: 25px;
}

.picture3:hover {
  transform: translateY(3px);
}

.picture4:hover {
  transform: translateY(3px);
}

.picture5 {
  width: 150px;
  height: 45px;
  position: absolute;
  left: 620px;
  top: 60px;
}

.picture4 {
  width: 50px;
  height: 45px;
}

#clothe:hover {
  background-color: rgb(7, 61, 7);
}

input[type=submit]:hover {
  background-color: rgb(18, 117, 9) !important;
}

@media (max-width: 1024px) {
  i {
    top: 80px;
    font-size: 18px;
  }
  .picture5 {
    width: 100px;
    height: 30px;
    left: 500px;
    top: 80px;
  }
  .tag-2 {
    width: 600px;
    height: 400px;
  }
  .picture1 {
    width: 600px;
    height: 400px;
  }
  .tag-3 {
    left: 650px;
    font-size: 35px;
    width: 280px;
  }
  .tag-4 {
    left: 650px;
    font-size: 30px;
    width: 300px;
  }
  #carouselExampleIndicators {
    margin-left: 20px;
  }
  #code-1 {
    margin-left: -35px;
  }
  #code-2 {
    top: 45px;
    left: 10px;
  }
  #code-3 {
    top: 75px;
    left: 7px;
  }
  #code-4 {
    top: 105px;
    left: 7px;
  }
  #code-5 {
    top: 135px;
    left: 7px;
  }
}
@media (max-width: 768px) {
  a {
    font-size: 15px;
  }
  #code-1 {
    margin-left: -25px;
  }
  #product {
    width: 100px;
  }
  .picture5 {
    left: 250px;
  }
  .tag-2 {
    width: 400px;
    height: 250px;
  }
  .picture1 {
    width: 400px;
    height: 250px;
  }
  .tag-3 {
    font-size: 25px;
    left: 460px;
  }
  .tag-4 {
    left: 440px;
    font-size: 19px;
  }
  #carouselExampleIndicators {
    width: 600px;
    min-height: 400px;
  }
  .tag-8 {
    left: 60px;
  }
  .tag-9 {
    left: 150px;
  }
}
@media (max-width: 480px) {
  .tag {
    display: block;
  }
  #image11 {
    display: inline;
  }
  #product {
    width: 200px;
  }
  .picture5 {
    display: none;
  }
  .tag-1 {
    display: none;
  }
  #something {
    display: none;
  }
  .tag-2 {
    width: 200px;
    height: 150px;
  }
  .picture1 {
    width: 200px;
    height: 150px;
  }
  .tag-3 {
    font-size: 18px;
    left: 230px;
    width: 170px;
  }
  .tag-4 {
    left: 235px;
    font-size: 15px;
    width: 190px;
    top: 180px;
  }
  #carouselExampleIndicators {
    width: 360px;
    min-height: 200px;
  }
  .tag-8 {
    left: 10px;
  }
  .tag-9 {
    left: 100px;
  }
  .tag-10 {
    width: 185px;
    left: 200px;
  }
  #image11 {
    position: absolute;
    left: 380px;
  }
}
.tag-11 {
  background-image: url(../images/clothingstore1.jpg);
  width: 1300px;
  height: 500px;
  margin-top: 40px;
  margin-left: 120px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
  position: relative;
}

.tag-12 {
  position: absolute;
  top: 230px;
  left: 580px;
  color: white;
  font-size: 50px;
}

.tag-13 {
  font-size: 60px;
  margin-top: 20px;
  margin-left: 330px;
}

.tag-14 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
  min-height: 400px;
}

.photo-4 {
  width: 300px;
  height: 200px;
}

.tag-15 {
  width: 300px;
}

.tag-16 {
  font-size: 25px;
  color: black;
  margin-top: 10px;
  margin-bottom: 20px;
}

@media (max-width: 1024px) {
  .tag-11 {
    width: 800px;
    margin-left: 80px;
  }
  .tag-12 {
    left: 320px;
  }
  .tag-13 {
    margin-left: 100px;
  }
}
@media (max-width: 768px) {
  .tag-11 {
    width: 580px;
    height: 400px;
  }
  .tag-12 {
    left: 210px;
    top: 190px;
  }
  .tag-13 {
    margin-left: 80px;
  }
}
@media (max-width: 480px) {
  .tag-11 {
    width: 400px;
    height: 250px;
    margin-left: 0px;
  }
  #image11 {
    position: absolute;
    left: 380px;
  }
  .tag-12 {
    left: 125px;
    top: 110px;
  }
  .tag-13 {
    margin-bottom: 30px;
    margin-left: 30px;
    font-size: 50px;
  }
}
.code-5 {
  display: flex;
  width: 100%;
  min-height: 350px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.tag-17 {
  font-size: 90px;
  margin-top: 20px;
  margin-left: 130px;
}

.code-6 {
  position: relative;
  width: 400px;
  height: 350px;
}

.tag-18 {
  position: absolute;
  font-size: 50px;
  left: 100px;
  top: 30px;
}

.tag-19 {
  position: absolute;
  font-size: 30px;
  width: 300px;
  top: 150px;
  left: 100px;
}

.code-7 {
  background-image: url(../images/calling.webp);
  width: 1300px;
  height: 600px;
  margin-top: 40px;
  margin-left: 120px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
  position: relative;
}

.code-8 {
  position: absolute;
  top: 230px;
  left: 580px;
  color: black;
  font-size: 50px;
}

.tag-33 {
  width: 600px;
  height: 300px;
  background-color: rgb(193, 195, 197);
  border: 2px solid;
  padding: 25px;
  font-size: 17px;
  resize: none;
  border-radius: 10px;
}

.tag-32 {
  display: inline-block;
  position: relative;
  width: 1000px;
  height: 400px;
  left: 250px;
  top: 30px;
}

.tag-33 {
  position: absolute;
  left: 30px;
}

.tag-40 {
  position: absolute;
  left: 30px;
}

.tag-34 {
  width: 200px;
  position: absolute;
  left: 700px;
}

#email1 {
  width: 300px;
  height: 45px;
}

#name {
  width: 300px;
  height: 45px;
}

#phonenumber3 {
  width: 300px;
  height: 45px;
}

.tag-20 {
  font-size: 50px;
  position: absolute;
  left: 100px;
  top: 30px;
}

.tag-21 {
  position: absolute;
  top: 150px;
  left: 100px;
  font-size: 30px;
}

.tag-22 {
  font-size: 25px;
  width: 350px;
  position: absolute;
  left: 100px;
  top: 200px;
}

.tag-23 {
  font-size: 25px;
  width: 350px;
  position: absolute;
  left: 100px;
  top: 260px;
}

.tag-24 {
  font-size: 50px;
  position: absolute;
  left: 100px;
  top: 30px;
}

.tag-25 {
  width: 350px;
  font-size: 25px;
  position: absolute;
  left: 100px;
  top: 150px;
}

input[type=submit]:hover {
  background-color: rgb(18, 117, 9);
}

input[type=submit] {
  background-color: rgb(21, 199, 21);
  width: 300px;
  height: 59px;
  border-radius: 10px;
  font-size: 14px;
  margin-top: 60px;
}

textarea:hover {
  background-color: rgb(71, 68, 68);
}

input[type=text]:hover {
  background-color: rgba(85, 81, 81, 0.692);
}

input[type=text] {
  width: 370px;
  height: 59px;
  background-color: rgb(193, 195, 197);
  padding: 21px;
  border-radius: 5px;
  margin-bottom: 10px;
}

@media (max-width: 1024px) {
  .code-7 {
    width: 800px;
    height: 400px;
    margin-left: 60px;
  }
  .code-8 {
    left: 310px;
    top: 190px;
  }
  .tag-32 {
    width: 900px;
    height: 300px;
    left: 30px;
  }
  .tag-33 {
    width: 450px;
    height: 250px;
    left: 30px;
  }
  .tag-34 {
    left: 500px;
  }
  input[type=text] {
    margin-bottom: 5px;
  }
  input[type=submit] {
    margin-top: 30px;
  }
  .tag-17 {
    font-size: 60px;
  }
}
@media (max-width: 768px) {
  .code-7 {
    margin-left: 20px;
    width: 660px;
    height: 350px;
  }
  .code-8 {
    left: 250px;
    top: 150px;
  }
  .tag-32 {
    width: 700px;
    left: 0px;
  }
  .tag-33 {
    width: 300px;
    height: 240px;
  }
  .tag-34 {
    left: 350px;
  }
  input[type=text] {
    width: 200px;
    height: 10px;
  }
  .tag-17 {
    font-size: 45px;
    margin-left: 20px;
  }
}
@media (max-width: 480px) {
  #image11 {
    position: absolute;
    left: 380px;
  }
  .code-7 {
    margin-left: 5px;
    width: 400px;
    height: 270px;
  }
  .code-8 {
    font-size: 40px;
    left: 130px;
    top: 110px;
  }
  .tag-33 {
    left: 0px;
    width: 200px;
    height: 200px;
  }
  input[type=text] {
    padding: 5px;
    width: 150px !important;
    height: 30px !important;
  }
  input[type=submit] {
    width: 150px;
    height: 50px;
  }
  .tag-34 {
    left: 220px;
  }
  .tag-32 {
    width: 400px;
    height: 230px;
  }
  .tag-18 {
    left: 60px;
  }
  .tag-19 {
    left: 60px;
  }
  .tag-20 {
    left: 60px;
  }
  .tag-21 {
    left: 60px;
  }
  .tag-22 {
    left: 60px;
  }
  .tag-23 {
    left: 60px;
  }
  .tag-24 {
    left: 60px;
  }
  .tag-25 {
    left: 60px;
  }
}
.code-9 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
  margin-top: 50px;
  min-height: 520px;
}
.code-9 .code-10 {
  width: 300px;
  height: 530px;
}
.code-9 .code-10 .picture3 {
  width: 300px;
  height: 200px;
}
.code-9 .code-10 .tag-26 {
  font-size: 50px;
}
.code-9 .code-10 .tag-27 {
  font-size: 25px;
}

.tag-28 {
  font-size: 100px;
  margin-top: 40px;
  margin-left: 350px;
}

.tag-29 {
  font-size: 60px;
  margin-top: 40px;
  margin-left: 350px;
}

.code-11 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
  margin-top: 50px;
}
.code-11 .code-12 {
  width: 400px;
  height: 250px;
}
.code-11 .code-12 .tag-30 {
  font-size: 50px;
  margin-bottom: 60px;
}
.code-11 .code-12 .tag-31 {
  font-size: 25px;
}

@media (max-width: 1024px) {
  .tag-28 {
    margin-left: 70px;
  }
  .tag-29 {
    margin-left: 70px;
  }
}
@media (max-width: 768px) {
  .code-11 {
    justify-content: center;
  }
  .tag-28 {
    font-size: 70px;
  }
}
@media (max-width: 480px) {
  #image11 {
    position: absolute;
    left: 380px;
  }
}
.code-13 {
  width: 900px;
  height: 500px;
  margin-top: 40px;
}

.code-14 {
  font-size: 50px;
  position: absolute;
  top: 120px;
  left: 980px;
}

.code-15 {
  font-size: 35px;
  position: absolute;
  top: 240px;
  left: 950px;
  width: 500px;
}

@media (max-width: 1024px) {
  .code-13 {
    width: 600px;
    height: 300px;
  }
  .code-16 {
    width: 600px;
    height: 300px;
  }
  .code-14 {
    font-size: 40px;
    left: 650px;
    top: 160px;
  }
  .code-15 {
    font-size: 27px;
    left: 650px;
    width: 300px;
  }
}
@media (max-width: 768px) {
  .code-13 {
    width: 350px;
    height: 200px;
  }
  .code-14 {
    left: 390px;
  }
  .code-15 {
    left: 390px;
    top: 220px;
  }
  .code-16 {
    width: 350px;
    height: 200px;
  }
}
@media (max-width: 480px) {
  .code-13 {
    width: 200px;
    height: 130px;
  }
  .code-16 {
    width: 200px;
    height: 130px;
  }
  .code-14 {
    font-size: 25px;
    left: 250px;
  }
  #image11 {
    position: absolute;
    left: 380px;
  }
  .code-15 {
    left: 250px;
    font-size: 15px;
    width: 200px;
    top: 200px;
  }
}/*# sourceMappingURL=global.css.map */