.tag-11 {
   
    background-image: url(../images/clothingstore1.jpg);
    @include tag-54 ;
}
.tag-12 {
    position: absolute;
    top: 230px;
    left: 580px;
    color: white;
    font-size: 50px;
}
.tag-13 {
    font-size: 60px;
    margin-top: 20px;
    margin-left: 330px;
    @extend %main-styles;
}
.tag-14 {
    @include tag-55 ;
    min-height: 400px;
}
.photo-4 {
    width: 300px;
    height: 200px;
}
.tag-15 {
    width: 300px;

}
.tag-16 {
    font-size: 25px;
    color: black;
    margin-top: 10px;
    margin-bottom: 20px;
}


@media (max-width: 1024px) {
    .tag-11 {
        width: 800px;
        margin-left: 80px;
    }
    .tag-12 {
        left: 320px;
    }
    .tag-13 {
        margin-left: 100px;
    }
   
}

@media (max-width: 768px) {
    .tag-11 {
        width: 580px;
        height: 400px;
    }

    .tag-12  {
        left: 210px;
        top: 190px;
    }
    .tag-13 {
        margin-left: 80px;
    }
}

@media (max-width: 480px) {
    .tag-11 {
        width: 400px;
        height: 250px;
        margin-left: 0px;
    }
    #image11 {
        position: absolute;
        left: 380px;
    }
    .tag-12 {
        left: 125px;
        top: 110px;
    }
    .tag-13 {
        margin-bottom: 30px;
        margin-left: 30px;
        font-size: 50px;
    }
  
}