.tag-11 {
    width: 1300px;
    height: 500px;
    margin-top: 40px;
    margin-left: 120px;
    background-image: url(../images/clothingstore1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    position: relative;
}
.tag-12 {
    position: absolute;
    top: 230px;
    left: 580px;
    color: white;
    font-size: 50px;
}
.tag-13 {
    font-size: 60px;
    margin-top: 20px;
    margin-left: 330px;
    font-family: 'Kanit', sans-serif;
}
.tag-14 {
    display: flex;
    
    position: relative;
    width: 400px;
    height: 380px;
    border: 1px solid black;
}
.photo-4 {
    width: 400px;
    height: 250px;
}