.code-5 {
    position: relative;
    width: 100%;
    min-height: 350px
}

.tag-17 {
    position: absolute;
    font-size: 90px;
    top: 20px;
    left: 130px;
}
.code-6 {
    position: relative;
}

.tag-18 {
    position: absolute;
    font-size: 50px;
    top: 140px;
    left: 100px;
}
.tag-19 {
    position: absolute;
    font-size: 30px;
    width: 400px;
    top: 250px;
    left: 100px;
}
.code-7 {
    width: 1300px;
    height: 600px;
    margin-top: 40px;
    margin-left: 120px;
    background-image: url(../images/calling.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    position: relative;
}
.code-8 {
    position: absolute;
    top: 230px;
    left: 580px;
    color: black;
    font-size: 50px;
}
.tag-20 {
    font-size: 50px;
    position: absolute;
    left: 600px;
    top: 140px;
}
.tag-21 {
    position: absolute;
    top: 190px;
    left: 600px;
    font-size: 30px;
}
.tag-22 {
    font-size: 25px;
    width: 350px;
    position: absolute;
    left: 600px;
    top: 250px;
}
.tag-23 {
    font-size: 25px;
    width: 350px;
    position: absolute;
    left: 600px;
    top: 310px;
}
.tag-24 {
    font-size: 50px;
    position: absolute;
    left: 1100px;
    top: 140px;
}
.tag-25 {
    width: 350px;
    font-size: 25px;
    position: absolute;
    left: 1100px;
    top: 240px;
}

@media (max-width: 1024px){
    .code-7 {
        width: 800px;
        height: 400px;
        margin-left: 60px;
    }
    .code-8 {
        left: 310px;
        top: 190px
    }
}